body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.container2{
  width:100%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background-color: #38491d;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
header {
  background: #333366;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  /* border-bottom: #e8491d 3px solid; */
  padding-bottom: 30px;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul, article ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header li {
  float: left;
  padding:  0 20px 0 20px;
   width: 90px;
  height: 40px; 
  margin-top: 1em;
  margin-bottom: 1em;
  
}

header #branding11 {
  float: left;
  padding-bottom: 10px;
}
header #branding11 h1 {
  margin: 0;
 
}
header nav {
  float: right;
  margin: 10px;
}

header .current a {
  color: black;
  font-weight: bold;
}
header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* showcase */
#showcase {
 /* min-height: 200px; */
  text-align: center;
  color: black;
  margin: auto;
  overflow: hidden;
  padding: 0;
  
}
#showcase h1 {
  margin-top: 50px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}
#main h1{
  margin-top: 10px;
  font-size: 55px;
  margin-bottom: 10px;
}

/* newsletter */
#newsletter {
  padding: 15px;
  color: #ffffff;
  background-color: #35424a;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250;
}

/* boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}
#boxes .box img {
  width: 90px;
}

footer {
  padding: 30px;
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #333366;
  height: 100px;
  margin-bottom: 0;
}

@media(max-width: 768px){
  header #branding11,
  header nav,
  header nav li,
  #boxes .box,
  article#main-col,
  aside#sidebar,#shocase{
    float:none;
    text-align:center;
    width:100%;
  }
  .carousel-item h-100{
    margin-top:40px;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase{
    margin-top: 10px;
  }
  #showcase h1{
    margin-top:40px;
  }

}