html {
  height: 100%;
}
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  height: 100%;
  position: relative;
}
.header-top {
  margin-top: 0;
  width: 90%;

  margin: auto;
  overflow: hidden;
  /* min-height:100%;  */
  position: relative;
  /* padding-bottom: 100px;   */
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  /* min-height: 100%; */
  position: relative;
  /* padding-bottom: 100px;   */
  box-sizing: border-box;
}

/* slidesshow的图片 */
.container2 {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.carousel-inner p,
.carousel-inner h2 {
  font-size: 4vw;
}
.image-container {
  height: auto;
  max-width: 100%;
  height: 500px;
  display: block;
  margin: auto;
  overflow: hidden;
}
/* slides words */

/* .carousel-caption {
  position: absolute;
  overflow: hidden;
} */
.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dark2 {
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #35424a;
  color: #ffffff;
  height: 400px;
  font-weight: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background-color: #38491d;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #f8f9fa;
}

header {
  background: #0081a4;
  color: #ffffff;
  padding-top: 0;
  margin: 0;

  border-bottom: #e8491d 3px solid;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul,
article ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header li {
  float: left;
  padding: 0 20px 0 20px;
  width: 90px;
  height: 40px;
}

header #branding11 {
  margin-top: 5px;

  padding-left: 0;
  padding-top: 0;
  float: left;
}
header #branding11 h1 {
  margin: 0;
  font-size: 48px;
  font-family: "Oswald", sans-serif;
}

.logo {
  font-size: 48px;
  font-family: "Oswald", sans-serif;
}

header nav {
  float: right;
  margin-top: 0;
  background-color: #0081a4;
}

header .current a {
  color: black;
  font-weight: bold;
}
header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* showcase */
#showcase {
  /* min-height: 200px; */
  text-align: center;
  color: black;
  margin: auto;
  overflow: hidden;
  padding: 0;
}
#main h1 {
  margin-top: 10px;
  font-size: 55px;
  margin-bottom: 10px;
}

/* newsletter */
#newsletter {
  padding: 15px;
  color: #ffffff;
  background-color: #35424a;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250;
}

/* boxes */
#boxes {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}
.socialcontainer {
  float: right;
  margin-bottom: 20px;
}

footer {
  padding: 30px;
  /* margin-top: 20px; */
  color: #ffffff;
  /* text-align: center; */
  background-color: #0081a4;
  margin-bottom: 0;
  width: 100%;
  bottom: 0;
  align-items: center;
}
.row {
  width: 100%;
  text-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  header #branding11,
  #boxes .box,
  article#main-col,
  aside#sidebar,
  #shocase {
    float: none;
    text-align: center;
    width: 100%;
  }
  .carousel-item h-100 {
    margin-top: 40px;
  }

  header {
    padding-bottom: 20px;
  }

  #showcase {
    margin-top: 10px;
  }
  #showcase h1 {
    margin-top: 40px;
  }

  .image-container {
    height: 300px;
    width: 200%;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
}
