/* Header */
header nav.navbar {
  background-color: olivedrab;
  border-bottom: 2px solid orangered;
}

.navbar-brand {
  font-family: "Aclonica", sans-serif;
  font-size: 24px;
  font-weight: 400;
  vertical-align: middle;
}

/* Main */
/* slideshow  */
.image-container {
  height: 500px;
  overflow: hidden;
}

.carousel-caption {
  top: 120px;
}

/* features */
.marketing .col-lg-4 {
  text-align: center;
}

.featurette-divider {
  margin: 5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.featurette-heading {
  margin-top: 7rem;
  font-size: 50px;
}

.bd-placeholder-img-lg {
  font-size: 3.5rem;
}

.bd-placeholder-img {
  text-anchor: middle;
}
